/*Custom Starts*/

.newbox{margin-bottom: 20px;}

.jumbotron{
	background-color: #FFF;
    padding: 15px!important;
    margin: 0px;
}
.table-bordered {
    border: 1px solid #fdfdfd;
    box-shadow: 0 7px 14px 0 rgba(60,66,87, 0.1), 0 3px 6px 0 rgba(0, 0, 0, .07);
}
.pull-right {
    float: right!important;
    margin-top: 30px;
}

.logo-area a{
	color: #FFF;
    font-size: 24px;
    font-weight: 300;
}